<?xml version="1.0"?>
<configuration>
<connectionStrings>
    <add name="Data.ModelConnectionString" connectionString="metadata=.\Data.ACHModel.csdl|.\Data.ACHModel.ssdl|.\Data.ACHModel.msl;provider=System.Data.SQLite;provider connection string=&quot;&quot;"
        providerName="System.Data.EntityClient" />
    <add name="Data.MainModelConnectionString" connectionString="metadata=.\Data.ACHModel.csdl|.\Data.ACHModel.ssdl|.\Data.ACHModel.msl;provider=System.Data.SQLite;provider connection string=&quot;FailIfMissing=True;Data Source=C:\Users\Administrator\Desktop\Acfun\DB.db3&quot;"
        providerName="System.Data.EntityClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup></configuration>